@model IEnumerable<zmg.blogEngine.model.Domain.Post>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";


    <h1>Post List</h1>

    if (ViewBag.CanPost)
    {
        <p>@Html.ActionLink("Create New Post", "Create")</p>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.UserName)
                </td>
                <td>
                    @{ if (ViewBag.CanPost)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        }
                        if (ViewBag.CanApprove)
                        {
                            @Html.ActionLink("Approve", "Approve", new { id = item.Id, approved = true })
                            @Html.ActionLink("Reject", "Approve", new { id = item.Id, approved = false })
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
